body{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;

}

.container {
    padding-left: 5%;
    padding-right: 5%;
    margin: 10px;
}

.nav {

    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-weight: 900;
    background-color: pink;
    

}

.links,
.nav-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.links li,
.nav-ul li {
    display: inline-block;
}

.nav-ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.logo {
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    color: purple;

}
li a:hover {
  background-color: wheat;
}


a {
    text-decoration: none;
    color: purple;
   
}

.nav-hover:hover {
    text-decoration: overline;
    color: #2549D3;
}
