@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;

}

.container {
    padding-left: 5%;
    padding-right: 5%;
    margin: 10px;
}

.nav {

    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-weight: 900;
    background-color: purple;
    

}

.links,
.nav-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.links li,
.nav-ul li {
    display: inline-block;
}

.nav-ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.logo {
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    color: pink;

}
li a:hover {
  background-color: wheat;
}


a {
    text-decoration: none;
    color: pink;
   
}

.nav-hover:hover {
    text-decoration: overline;
    color: #2549D3;
}
#home{
    justify-content: space-around;
    background-image: url('https://media.istockphoto.com/photos/women-is-holding-handbag-near-luxury-car-picture-id1271796113?b=1&k=20&m=1271796113&s=170667a&w=0&h=9vvvXq3GIokXs66KpwgKfJoIDYyQW9TEBXOWZSXhzX0=');
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: cover;
    height: 500px;
    color: #FAFAFA;
    margin-top: -30px;
     
  }
#home h1{
  color: rgb(246, 244, 246);
  text-align: left;
  font-style: italic;
  padding-top: 105px;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 100px;
  
  
}
#home p{
  text-align: left;
  padding-top: -6px;
  margin-left: 100px;
  font-size: larger;
  font-weight: bold;

}
#bar {
  width: 1291px;
  height: 40px;
  background-color: pink;
  animation-name: example;
  animation-duration: 10s;
  padding-top: 20px;

}

#bar p{
  margin-top:-5px;
  margin-left:10px;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  
  
}

@keyframes example {
  0%  {background-color: grey;}
  25%  {background-color: green;}
  50%  {background-color: Blue;}
  100%  {background-color: pink;}
}

.w3-content{
  margin-left: 175px;
  position: relative;
}
#products h1{
  text-align: center;
  color: black;
  font-style: italic;
}
#products{
  box-sizing: border-box;
  height: 750px;
  width: 100%;
  background-color: whitesmoke;
  margin-top: -20px;
  
}

#footer {
  box-sizing: border-box;
  height: 550px;
  width: 100%;
  background-color: pink;
  
}